{% extends "base.html" %}
{% block title %}
    3D DEM Visualization
{% endblock %}
{% block scripts %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">3D Digital Elevation Model</h1>
            <p class="lead">An interactive 3D visualization of the Digital Elevation Model</p>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-12">
            <div id="plotly-div">
                {{ plot_div|safe }}
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-12">
            <a href="{{ url }}" class="btn btn-primary">Download DEM</a>
        </div>
    </div>
{% endblock %}